header {
    background-color:rgb(59, 56, 56);
    font-size: 40px;
    text-align: center;
    color: white;
}
/* #emptyDiv{
    background-color: blue;
} */

ul
{
  display:flex;  
  list-style:none;
}